* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f1f1;
    background-image: url("../img/hero_bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    
}

.solidNav {
    background-color: #f0f1f1;
}

#navbarNav a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    color: black;
    
}

nav.navWhite #navbarNav a {
    color: white;
}



#hero {
    height: 60vh;
    padding-top:15%;
}



h1 {
    vertical-align:middle;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    line-height: 38px;
}

h3 {
    font-size: 18px; 
}

#projects {
    position: relative;
}



.section h4 {
    font-size: 125px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 700;
    color: #c7c8c8;
    opacity: .5;
}

.section h2 {
    position: absolute;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    margin-left: 100px; 
    top:55px;
}

.sectionProjects {
    background-image: url("../img/arrow_down.png");
    background-repeat: no-repeat;
    background-position: 235px 70px;
     
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.readBtn {
    border: none;
    color: black;
    background-color: #ffed1d;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    width: 200px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);
}

.secondaryBtn {
    border: none;
    color: #ffed1d;
    background-color: #171717;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    width: 200px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);

    margin-bottom: 75px;
}

.arrow {
    margin-left: 10px;
}

.project {
    margin-bottom: 0px;
}

#trusted {
    background-color: #e0e1e1;
    height:350px;
    text-align: center;
    padding-top:60px;
}

.trustedLogos {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#about {
    background-color: #232323;
    position: relative;
    
}

#about .container {
    position: relative;
}

.about_title img {
    position: absolute;
    top:-70px;
    border-radius: 50%;
}

.about_title h4 {
    position: absolute;
    color: black;
    opacity: .25;

    font-size: 125px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 700;
    
    top:-90px;
    left: 125px;
    
    
}

.about_title h2 {
    position: absolute;
    color: #ffed1d;
    left:190px;
    z-index: 2;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
    top:10px;
}

.line {
    position: absolute;
    left:340px;
    top:30px;
    width:90px;
    height: 3px;
    background-color: #ffed1d;
}

.about_content {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    
}

.about_content p {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.8rem;
    font-size: 1rem;
    letter-spacing: .04rem;
    opacity: .7;
    
}

#contact_title  {
    
    transform: rotate(90deg);
    position: absolute;
    bottom:75px;
    left:0px;
    margin:0;
    padding:0;
    
    
    
    height:100px;
    width:250px;
   
}

#contact_title h4 {
    top:130px;
    left:-100px;

    position: absolute;
    color: black;
    opacity: .25;

    font-size: 125px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 700;
}

#contact_title h2 {
    position: absolute;
    font-size: 18px;
    letter-spacing: .5rem;
    top:200px;
    left:0px;

    color: #ffed1d;
   
    z-index: 2;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

#contact_title .line {
    left: 140px;
    top: 208px;
}

.contact {
    height: 130px;
    background-color: #171717;
    border: solid 1px #ffed1d;
}

.contact_hi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 130px;
}


.contact_social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 130px;
}

.contact_hi h1 {
    color: #ffed1d;
    font-style: italic;
}

.contact_links_top {

    padding-top:20px;
    height:65px;
    border-bottom: solid 1px #ffed1d;
}

.contact_links_bottom {
    padding-top:16px;
    height:65px;
}

.contact_ico {
    margin-right: 10px;
}

.contact_links p {
    color: #ffed1d;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}

footer {
    height: 50px;
}

.numbers {
    margin-bottom: 40px;
}

.numbers h1 {
    font-size: 2.2rem;
}

.numbers_small {
    font-size: 1rem;
}

.contact_links {
    
    border-left: solid 1px #ffed1d;
    border-right: solid 1px #ffed1d;
    height:130px;
}


.white {
    color: #fff;
}

.yellow {
    color: #ffed1d;
}

@media (max-width: 767px) {

    body {
        background-size: 45%;
    }

    #hero {
        height: 40vh;
        padding-top:15%;
    }
    .case_text img {
        padding: 0;
    }

    .info {
        height: 100%;
        top:0px;
        flex-direction: row;
    }
    
    .info_desc p{
        padding-top:0px;
        font-size: 12pt;
        text-align: left;
    }
    
    .info_text p{  
        font-size: 14pt;  
        text-align: left;
    }

    h1 {
        margin-top:50px;
        text-align: center;
        font-size: 20px;
    }

    h1.hero_text {
        margin-top: 8px;
        line-height: 28px;
        text-align: left;
    }
    
    h2 {
        text-align: center;
        font-size: 12pt;
        
    }

    .section h4 {
        font-size: 100px;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-weight: 700;
        color: #c7c8c8;
        opacity: .5;
    }
    
    .section h2 {
        position: absolute;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 30px;
        margin-left: 70px; 
        top:50px;
    }

    .sectionProjects {
      
        background-position: 195px 65px;
         
    }

    .projectImg img {
        width:100%;
    }

    .reverseMobile {
        flex-direction: column-reverse;
    }

    .description {
        z-index: 1;
    }

    .project h1 {
        margin-top: -40px;
    }

    .userFlow {
        flex-direction: column;
    }

    .userFlow img {
        width: 100%;
    }

    .case_text {
        padding: 0;
        margin: 0;
    }

    .btn {
        width:100%;
    }

    #trusted {
        margin-top:75px;
        padding-bottom: 150px;
        height: 100%;
    }

    .trustedLogos {
        margin-left:0;
        margin-right: 0;
        margin-top:10px;
    }

    


    .contact {
        height: 100%;
        background-color: #171717;
        border: solid 1px #ffed1d;
    }

    .contact_social {
        
        height: 80px;
    }

    .contact_hi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 50px;
    }

    .contact_hi h1 {
        color: #ffed1d;
        font-style: italic;
        margin:0;
    }

    .contact_links_top {

        padding-top:20px;
        height:65px;
        border-top: solid 1px #ffed1d;
        border-bottom: solid 1px #ffed1d;
    }

    .contact_links_bottom {
        padding-top:16px;
        height:65px;
        border-bottom: solid 1px #ffed1d;
    }

    .contact_ico {
        margin-right: 10px;
    }

    .contact_links {
        border-left: none;
        border-right: none;
        
    }

    .contact_links p {
        text-align:center;
        color: #ffed1d;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
    }

    footer {
        height: 50px;
    }
}

