* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f1f1;
    background-image: url("../img/hero_bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    height: 2000px;
}

.solidNav {
    background-color: #f0f1f1;
}

#navbarNav a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    color: black;
    
}

nav.navWhite #navbarNav a {
    color: white;
}



#hero {
    height: 70vh;
    padding-top:15%;
}



h1 {
    vertical-align:middle;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 34px;
}

h3 {
    font-size: 22px; 
}